body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.back{
    width: 100%;
    height: 800px;
   background: url(photo/skysport_de-wm-2022-lionel-messi_5974877.jpg);
   background-size: cover;

   
   
}

.cover
{
    width: 100%;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.2);
}

.centered-button{
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 600px ;
    margin-top: 200px;
   
 
}

.centered-button:hover {
    background-color: #0056b3;
}


.card {
    margin-top: 20px;
    padding: 20px;
  
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 460px;
   
} 

.card-text{
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

